<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">

<body>
<th:block layout:fragment="content">

    <h2>Welcome to Курсовая Работа!</h2>
    <p>
        The website provides online flight ticket booking. It has functionalities like schedule flights, search flight, book flight for customers, and verify flight ticket. The system is convenient and user-friendly.

    </p>
    <img th:src="@{/img/ali.jpg}" style="width:300px"/>
</th:block>
</body>
</html>